/* TaskList.css */

.task-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task-list li {
    background-color: #f4f4f4;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
  }
  
  .task-list li button {
    background-color: #ff6666;
    color: #fff;
    border: none;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
  }
  